body {
  text-align: center;
  background-color: #264653; 
}

h1 {
  font-size: 48px;
  color: #f1faee;
}

p {
  font-size: 22px;
}

.forms-rows {
  position: static;
  display: block;
}

.master-div-style {
  margin: auto;
  width: 800px;
  background-color: #90e0ef;
}
